@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Default font
$typography-font-family: "Poppins", sans-serif !default;

$max-width: 1280px;

$accent: #fcfcfc;
$primary: #383584;
$secondary: #acb3b9;

$border: 1px solid #e6e6e6;
